@import url("https://fonts.googleapis.com/css2?family=Montserrat");

.inputMedium {
    min-height: 200px;
    max-height: 200px;
    min-width: 900px;
    font-size: 20px;
    resize: none;
    margin-bottom: 20px;
    border: white;
    font-family: Montserrat, sans-serif;
    background-color: #CCEDFF;
    padding: 15px;
}

.custom-label {
    margin-bottom: 10px;
}

label {
    font-size: 24px;
    font-family: Montserrat, sans-serif;
}