.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

.collapsed-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    margin: 15px;
}

.next-button-wrapper {
    position: absolute;
    bottom: 5%;
    right: 5%
}

.message {
    margin-top: 50px;
    font-size: 34px;
    margin-bottom: 50px;
    font-family: Montserrat, sans-serif;
}