@import url("https://fonts.googleapis.com/css2?family=Montserrat");

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
}

.collapsed-wrapper-cp {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.button-wrapper-cp {
    left: 20%;
    margin-top: 15px;
    margin-bottom: 50px;
}

.next-button-wrapper-cp {
    margin-top: 15px;
    margin-bottom: 50px;
    margin-left: 88%;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.message-cp {
    margin-top: 50px;
    font-size: 34px;
    margin-bottom: 50px;
    font-family: Montserrat, sans-serif;
}

.subheading-cp {
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 13px;
}