.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    margin-top: 50px;
    font-size: 34px;
    margin-bottom: 50px;
    font-family: Montserrat, sans-serif;
}