.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.denied-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-out {
    position: absolute;
    top: 5%;
    right: 5%
}