.header-int-me {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 76px;
    font-family: Montserrat, sans-serif;
    color: #9cdcff;
}

.header-int-results {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 58px;
    font-family: Montserrat, sans-serif;
    color: #9cdcff;
}